<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style>
.white{
    color:white !important;

}

a.a-CRUD:link, a.a-CRUD:visited{
    color: blue;
    text-decoration: underline;
}

a.a-CRUD:hover{
    background: #E5E4E2;
}

a.a-primary:link, a.a-primary:visited {
    color: white;
}

h1{
  font-weight: bold;
}

</style>

<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <% if @user.first_name != nil && @user.last_name != nil && @user.email != nil && @user.role_id != nil %>
    <% if User.where(role_id: Role.where(role_description: "Admin").first).count < 2 && Role.where(id: @user.role_id).last.role_description == "Admin" %>
        <%= "Role" %><br>
        <%= "Admin" %><br><br>
        <%= "To change role, there must always be at least 2 Admin." %><br>
    <% else %>
      <div class="field">
        <%= form.label :role %>
        <%= form.collection_select(:role_id, Role.all, :id, :role_description) %>
      </div>
    <% end %>
  <% else %>
    <div class="field">
      <%= form.label :role %>
      <%= form.collection_select(:role_id, Role.all, :id, :role_description) %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit class:"btn btn-primary a-primary"%>
  </div>
<% end %>
