<h1>Attendance Report</h2>

<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Attendance Credits</th>
      <th>Requirement Met?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <% if User.any? %>
  <tbody>
    <% User.all.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <% # checks RSVPS that include the email of the user being checked to add a credit for each one %>
        <td><%= Rsvp.where(user_id: user.email).count %></td>
        <% # compares above number to local variable to decide if requirement is met or not %>
        <% if Rsvp.where(user_id: user.email).count < @attendance_credit %>
          <td>No</td>
        <% else %>
          <td>Yes</td>
        <% end %>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
  <% else %>
  <h2>There are currently no users in the table!</h2>
  <% end %>
</table>

<p>The attendance credit requirement is currently set to <%= @attendance_credit %> credits.</p>

<%= form_tag do |form| %>
  <%= text_field_tag(:credit) %>
  <%= submit_tag("Change Credit Requirement") %>
<% end %>
<%= link_to 'Back to Users Menu', users_path %>