<p id="notice"><%= notice %></p>

<p>
  <strong>User ID:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= Role.where(id: @user.role_id).last.role_description %>
</p>

<% if session[:user_role] == 'Admin' %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
<% elsif session[:user_role] == 'Pending' %>
  <%= link_to 'Back', root_url %>
<% end %>
