<h2>Select Users to attend this event: <%= @event.name %></h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>email</th>
    </tr>
  </thead>

  <tbody>
    <% @rsvps.each do |rsvp| %>
      <% user = User.find_by(email: rsvp.user_id) %>
      <tr>
        <td><%= user.first_name %><%= ' ' %><%= user.last_name %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>