<%= render 'shared_partials/style' %>

<%= form_with(model: rsvp) do |form| %>
  <% if rsvp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>

      <ul>
        <% rsvp.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :user_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :event_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :rsvp_time %>
  </div>
  
  <div class="field">
    <strong><%= form.label :instrument_ids, "Instrument: " %></strong>
    <br>
     <%= form.collection_check_boxes(:instrument_ids, Instrument.all, :id, :name) do |b| %>
        <%= b.label class:"label-checkbox" do%>
         <%= b.check_box + " " + b.text%>
        <%end%> <br>
    <% end %>
  </div>

  <div class="field">
    <strong><%= form.label :attending %></strong>
    <%= form.check_box :attending %>
  </div>
  <div class="field">
    <strong><%= form.label :reason %></strong>
    <p style="font-style:italic">Only explicitly required if you are not attending this event <br>If there is anything else that we should know about your attendance, or if you are on-call, put that here.</p>
    <%= form.text_area :reason, class:'form-control', rows:3 %>
    <%#= text_area_tag :reason, "", class: 'form-control', rows:3 %>

  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-primary a-primary' %>
  </div>
<% end %>
