<%= render 'shared_partials/admin_nav' %>

<div class="jumbotron" style="background-color:white">
  <p id="notice"><%= notice %></p>

  <h1>RSVPs</h1>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th>Event</th>
          <th>Rsvp time</th>
          <th>Instrument</th>
          <th>Attending</th>
          <th>Reason</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @rsvps.each do |rsvp| %>
          <tr>
            <td><%= get_user_name(rsvp.user_id) %></td>
            <td><%= Event.exists?(rsvp.event_id) ? Event.where(id: rsvp.event_id).first.name : 'Event Not Found' %></td>            
            <td><%= rsvp.rsvp_time %></td>
            <td><%= Instrument.where(id: rsvp.instrument_ids).pluck(:name).join(", ") %></td>
            <td><%= rsvp.attending %></td>
            <td><%= rsvp.reason %></td>
            <td><%= link_to 'Show', rsvp, class:"a-CRUD" %></td>
            <td><%= link_to 'Edit', edit_rsvp_path(rsvp), class:"a-CRUD" %></td>
            <td><%= link_to 'Destroy', rsvp, method: :delete, data: { confirm: 'Are you sure?' }, class:"a-CRUD" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>
  <%= link_to 'Back', root_url, class:'btn btn-secondary a-primary' %>
</div>
