<%= render 'shared_partials/style' %>
<%= rsvp_navbar(session[:user_role]) %>

<div class="jumbotron" style="background-color:white">
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @rsvp.user_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @rsvp.event_id %>
</p>

<p>
  <strong>Rsvp time:</strong>
  <%= @rsvp.rsvp_time %>
</p>

<p>
  <strong>Attending:</strong>
  <%= @rsvp.attending %>
</p>

<p>
  <strong>Reason for not attending:</strong>
  <%= @rsvp.reason %>
</p>

<%= link_to 'Edit', edit_rsvp_path(@rsvp), class:'btn btn-secondary a-primary' %> |
<%= rsvp_back(session[:user_role]) %>
</div>