<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @rsvp.user_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @rsvp.event_id %>
</p>

<p>
  <strong>Rsvp time:</strong>
  <%= @rsvp.rsvp_time %>
</p>

<p>
  <strong>Attending:</strong>
  <%= @rsvp.attending %>
</p>

<p>
  <strong>Reason for not attending:</strong>
  <%= @rsvp.reason %>
</p>

<%= link_to 'Edit', edit_rsvp_path(@rsvp) %> |
<% if session[:user_role] == 'Admin' %>
    <%= link_to 'Back', rsvps_path %>
<% else %>
    <%= link_to 'Back', events_path %>
<% end %>