<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @sign_in.user_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @sign_in.event_id %>
</p>

<p>
  <strong>Signin time:</strong>
  <%= @sign_in.signin_time %>
</p>

<p>
  <strong>Attending:</strong>
  <%= @sign_in.attending %>
</p>

<p>
  <strong>Reason for not attending:</strong>
  <%= @sign_in.reason %>
</p>

<%= link_to 'Edit', edit_sign_in_path(@sign_in) %> |
<%= link_to 'Back', sign_ins_path %>
