<h2><strong>Admins Page</strong></h2>
<p>
    As an admin you have the option to change details instrumental to the workings of this website. The tabs shown below are the categories that you can make these changes to.<br />
    <%= image_tag "helpmenu/4.png", style: 'height: auto; width: 40%; border: 1px solid black;' %>
</p>
<p>While the process to change each category&#39;s items share similarities, they each have their own specific function within the website.</p>
<ol>
    <li>
        <h3><strong>Event Types</strong></h3>
        <p>The purpose of the Event Type category is to distinguish between the different types of events that the TAMU Percussion Studio may have.</p>
    </li>
    <li>
        <h3><strong>Instruments</strong></h3>
        <p>The purpose of the Instrument category is to allow members to select what instruments they can play when making an RSVP request to the Gig Master.</p>
    </li>
    <li>
        <h3><strong>RSVPs</strong></h3>
        <p>The RSVP category allows members (and admins) to RSVP to an event so that the Gig Master can track their attendance and select between members to participate.</p>
    </li>
    <li>
        <h3><strong>Users</strong></h3>
        <p>
            This is where you can manage all users of the website. From changing a user&#39;s permission level (member or admin) to deleting a past member so they can no longer access the website. This is also the home of the attendance
            report, where an admin
        </p>
    </li>
    <li>
        <h3><strong>Storage Keys</strong></h3>
        <p>
            This category exists in order to track who has the organization&#39;s storage keys. Members do not have the permissions required to claim ownership of a storage key, but they can change ownership once they have been assigned by
            an admin.
        </p>
    </li>
</ol>
<hr />
<h2><strong>How do I assign ownership of a storage key?</strong></h2>
<p>Navigate to the Storage Key tab and click the &#39;Assign Owner&#39; button shown below. Simply select the user you&#39;d like to pick and submit!</p>
<hr />
<h2><strong>How do I change ownership of a storage key?</strong></h2>
<p>As an admin you have the privileges to change ownership of any storage key. Navigate to the Storage Key tab and select the &#39;Change Owner&#39; button next the person you&#39;d like to change and select the new owner.</p>
<hr />
<h2><strong>Process for generating the Attendance Report</strong></h2>
<p>You can find the attendance report by navigating to the Users tab and clicking on &#39;Generate Attendance Report&#39; as shown below.</p>
<p>
    From this menu you can see all member statistics, including how many attendance credits they have earned, and whether they have met the attendance requirements. The hour requirement can be adjusted by typing in the desired value near
    the top of the page.
</p>
<hr />
<h2><strong>How does the Gig Master select and invite members to a specific event?</strong></h2>
<p>Navigate to the home page, find the desired event in the &#39;Upcoming Events&#39; log, and click on the &#39;Invite Users&#39; button. An example is shown here.</p>
<p>
    Gig Master View Diagram<br />
    <p>This section shows the users that would like to attend to the specified event. It also displays any addition comments they had such as whether they want to be on-call. </p>
    <%= image_tag "helpmenu/5.png", style: 'height: auto; width: 40%; border: 1px solid black;' %>
    <p>This section crafts the email to be sent to all attending users, you can include any extra details.</p>
    <%= image_tag "helpmenu/6.png", style: 'height: auto; width: 40%; border: 1px solid black;' %>
    <p>This verifies what the email body will look like.</p>
    <%= image_tag "helpmenu/7.png", style: 'height: auto; width: 40%; border: 1px solid black;' %>
    <p>This section shows the sad members that will not be attending the event.</p>
    <%= image_tag "helpmenu/8.png", style: 'height: auto; width: 40%; border: 1px solid black;' %>
</p>
<hr />
